div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
      display: block;
    }
    
    

    body {
      line-height: 1;
      
    }
    
    blockquote,
    q {
      quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
      content: "";
      content: none;
    }
    
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
    
    a {
      text-decoration: none;
    }
    
    img,
    audio,
    video {
      max-width: 100%;
      height: auto;
    }
    
    ul {
      list-style-type: square;
    }
    ol {
      /* list-style-type: none; */
    }
    
    html,body{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      word-break: break-word;
      background-color: #fff;
      font-family: "PingFang SC",miui,system-ui,-apple-system,BlinkMacSystemFont, "Microsoft YaHei",Helvetica Neue,Helvetica,sans-serif;
    }
    
    pre {
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    strong {
      font-weight: 700;
    } 

    .draft-container {
      box-sizing: border-box;
      height: 100%;
      line-height: 1.5;
      color: #666666;
      font-size: 12px;
padding-bottom: 25px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px
    }
    
    .draft-container p {
      margin-bottom: 9px;
    }


    .draft-container table {
      width: 100%;
    }
    
    .draft-container tr {
      text-align: center
    }

    .draft-container td {
      border: 1px solid #e4e4e5;
    }
    
    .draft-container a {
      color: #3370ff;
    }
    
    .draft-container a:hover {
      color: #0000EE;
    } 
    
    .draft-container h1,h2,h3,h4,h5,h6 {
      color: #000;
      font-weight: 600;
    }

    .draft-container img {
      
      
    }

    .draft-container video {
      
      
    }


    .draft-container h1 {
      margin-bottom: 15px;
margin-top: 15px;
font-size: 22px
    }
.draft-container h2 {
      margin-bottom: 13px;
margin-top: 13px;
font-size: 19px
    }
.draft-container h3 {
      margin-bottom: 8px;
margin-top: 8px;
font-size: 17px
    }
.draft-container h4 {
      margin-bottom: 8px;
margin-top: 8px;
font-size: 17px
    }
.draft-container h5 {
      margin-bottom: 16px;
margin-top: 32px;
font-size: 14px
    }
.draft-container h6 {
      margin-top: 32px;
font-size: 14px;
margin-bottom: 16px
    }


    .draft-container ul, .draft-container ol {
      padding-left: 16px
    }
.draft-container ul ul, .draft-container ol ol {
      padding-left: 16px
    }
.draft-container ul ul ul, .draft-container ol ol ol {
      padding-left: 16px
    }
.draft-container ul ul ul ul, .draft-container ol ol ol ol {
      padding-left: 16px
    }


    .draft-container ol {
        list-style-type: decimal
    }
    .draft-container ol ol {
        list-style-type: decimal
      }
    .draft-container ol ol ol {
        list-style-type: decimal
      }
    .draft-container ol ol ol ol {
        list-style-type: decimal
  }

    .draft-container{

}
.draft-table {

}
    